

{{#dataValues}}

<div class="blogPost_comment">
    <div class="blogPost_comment_header">
        <p class="blogPost_comment_content">{{this.comment_content}}</p>
        {{#user}}
        {{#dataValues}}
        <span class="blogPost_comment_author">-{{this.author_name}} on </span>
        {{/dataValues}}
        {{/user}}
        <span class="blogPost_comment_date">{{formatTime this.comment_time 'MM/DD/YY h:mm A'}}</span>
    </div>
    
</div>
{{/dataValues}}