<div class="blogForm">
<form action = "/api/post" method = "post">
    <input type = "text" name = "post_title" placeholder = "Title" />
    <input type = "text" name = "post_content" placeholder = "Content" />
<input type = "submit" value = "Post" />
</div>