<div class="header">
    <h1 class="title">facebook 2</h1>
    
    {{#if session}}
        {{#dataValues}}
        <p>Logged in as {{session.userid}}</p>
        {{/dataValues}}
        <a href="user/logout">Logout</a>

    {{else}}
            {{> loginForm}}
            {{> signupForm}}
    {{/if}}

</div>