<div class="header">
    <h1 class="title">blog</h1>

    {{#if session.loggedIn}}
        <p>Logged in as {{session.author_name}}</p>
        <a href="user/logout">Logout</a>
    {{else}}
            {{> loginForm}}
            <button type="submit" id="signupButton">Sign Up</button>
    {{/if}}

</div>