

{{> header }}

{{log session}}

<div class="mainWrapper">

    {{#each posts}}
        {{> blogPost this session=../session }}
    {{/each}}

</div>

{{#if errMessage}}
    <div class="error">
        <p>{{errMessage}}</p>
    </div>
{{/if}}

<dialog id="deletePostDialog">
    <h3 class="deletePostDialogTitle">
        are you sure you want to delete this?
      <button id="cancel" type="reset">Cancel</button>
      <button type="submit">Confirm</button>
    </h3>
</dialog>


{{> footer }}