{{> header }}

<!--blog-->
<div class="mainWrapper">

    {{#each posts}}
        {{> blogPost this session=../session }}
    {{/each}}

</div>


<!-- error message if error -->
{{#if errMessage}}
<div class="alert alert-warning alert-dismissible fade show" role="alert">
  <strong>Holy guacamole!</strong>{{errMessage}}
  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
{{/if}}


{{> footer }}