{{> header }}

<!--blog-->
<div class="container gx-0 blogContainer">
    {{#unless posts}}
        <div class="alert alert-warning alert-dismissible fade show" role="alert">
            There are no posts to display.
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    {{/unless}}

    {{#if session.loggedIn}}
        <button type="button" class="btn btn-sm controlButton newPostButton" id="newPostButton">+</button>
    {{/if}}
    {{#each posts}}
        {{> blogPost this session=../session }}
    {{/each}}

</div>





{{> footer }}